/*Fonts
Lexend Deca
Montserrat Subrayada
Montserrat
*/

@import url(//fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&family=Montserrat+Subrayada&family=Montserrat:wght@100&display=swap);

/* Remove default margin + padding */
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1224px;
  margin: auto;
  padding: 40px 0;
  width: 80%;
}

.photo-gallery {
  display: flex;
  gap: 25px;
  margin-top: 3vh;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo img {
  width: 100%;
  border-radius: 2px;
  height: 100%;
}

@media(max-width: 768px) {
  .photo-gallery {
    flex-direction: column;
  }

  .photo-gallery {
    margin-top: 1vh;
  }
}