/*Fonts
Lexend Deca
Montserrat Subrayada
Montserrat
*/

@import url(//fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&family=Montserrat+Subrayada&family=Montserrat:wght@100&display=swap);

/* Remove default margin + padding */
* {
  margin: 0;
  padding: 0;
}

/* Sections */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25vw;
  margin-top: 2.5vh;
  margin-left: 2.5vw;
  position: absolute;
  top: 0;
  z-index: 2;
}

body {
  background-color: whitesmoke;
  z-index: 1;
}

nav {
  font-family: 'Montserrat Subrayada', sans-serif;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Menu */
#desktop-menu {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  width: 80vw;
}

.collapsible-container {
  display: block;
  position: relative;
}

a.menu-button {
  color: black;
  font-size: 2vw;
  text-decoration: none;
}

a.menu-button:hover {
  color: burlywood;
}

.menu-content {
  font-family: "Montserrat", sans-serif;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: justify;
  transition: all 0.2s ease-in;
  top: 100%;
}

.collapsible-container:hover .menu-content {
  display: block;
  height: 300px;
}

/* small screens */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2vh;
  }

  #desktop-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
  }

  a.menu-button {
    font-size: 2.75vh;
    margin: 1vh;
  }

  .collapsible-container:hover .menu-content {
    display: none;
  }
}