/*Style Image Grids*/

/*Fonts
Lexend Deca
Montserrat Subrayada
Montserrat
*/

@import url(//fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&family=Montserrat+Subrayada&family=Montserrat:wght@100&display=swap);

/* Photo Gallery */
.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 80%;
  margin-top: 6vh;
}

#photo-gallery {
  display: flex;
  /*columns: 3 250px;*/
  gap: 25px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

#selectedImage {
  max-height: 100%;
}

/*Dropdown Navbar*/
.navbar {
  display: flex;
  justify-content: center;
  z-index: 4;
}

.navbar a {
  text-align: center;
  text-decoration: none;
}

.dropdown {
  display: block;
}

.dropdown-content {
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.dropdown-content a {
  background-color: whitesmoke;
  color: black;
  font-weight: 300;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  float: none;
  padding: 4px;
  text-decoration: none;
  transition: 0.2s;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  font-size: 1.4vw;
}

.dropdown:hover .dropdown-content {
  display: block;
  height: 150px;
}

/*Side Menu*/
#menu-icon {
  height: 6vh;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 4%;
  color: rgb(211, 211, 211);
}

.sidenav {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.2s;
  /* 0 width - change this with JavaScript */
  width: 0;
  z-index: 4;
}

.sidenavcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* The navigation menu links */
.sidenav a {
  color: black;
  font-weight: 300;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  padding: 4px;
  text-decoration: none;
  transition: 0.2s;
}

.sidenav a:hover {
  font-weight: 100;
}

@media(max-width: 768px) {

  /* Photo Gallery */
  #photo-gallery {
    flex-direction: column-reverse;
    margin-top: 1vh;
  }

  /* Dropdown Navbar*/

  /* Side Menu*/
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}