/* Style Homepage*/

/*Fonts
Lexend Deca
Montserrat Subrayada
Montserrat
*/

@import url(//fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300&family=Montserrat+Subrayada&family=Montserrat:wght@200;300;600;900&display=swap);

/* Sections */
h1 {
  text-align: center;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-top: 50px;
}

h2 {
  text-align: center;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

body {
  background-color: rgb(245, 245, 245);
}

/* Remove default margin + padding */
* {
  margin: 0;
  padding: 0;
}

.frontPageImage {
  width: 100%;
}

.clickable {
  text-decoration: none;
  color: black;
}

/* Flip Card */
.FrontPageContainer {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  top: 0%;
  left: 0%;
  transform: translateY(-50%);
  align-items: center;
  margin: auto;
  margin-top: 50px;
  max-width: 95%;
  justify-content: space-between;
  width: 100vw;
  flex-wrap: wrap;
}

.card {
  width: 19vw;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
}

/*Position the Name*/
.PhotographerName {
  position: absolute;
  color: black;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  word-spacing: 100vw;
  height: 100%;
  width: 100%;
}

/* Position the front and back side */
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Style the back side */
.card-back {
  display: flex;
  position: absolute;
  align-items: center;
  height: 0px;
  background: whitesmoke;
  justify-content: center;
  transition: 0.6s;
  overflow: hidden;
}

.card:hover .card-back {
  height: 65vh;
}

.card-back>* {
  transition: transform 0.6s;
}

.card:hover .card-back>* {
  transform: translateY(0px);
}

/* small screens */
@media only screen and (max-width: 1000px) {

  /* Sections */
  #h1LandingPage {
    margin-top: 8vh;
  }

  .PhotographerName {
    position: absolute;
    font-size: 3.5vw;
    color: rgb(245, 245, 245);
    z-index: 2;
  }

  /*Flip Card*/
  .container {
    justify-content: center;
    transform: translateY(0%);
  }

  .card {
    margin-top: 10px;
    margin: 10px;
    width: 40vw;
    pointer-events: none;
  }

  .card-front {
    position: relative;
  }

  .card-back {
    display: none;
  }
}

@media(max-width: 600px) {
  h1 {
    margin-top: 20px;
  }

  .card {
    width: 65vw;
  }

  .PhotographerName {
    font-size: 6vw;
  }

  .container {
    margin-top: 20px;
  }

}