/* Style Homepage*/

/*Fonts
Lexend Deca
Montserrat Subrayada
Montserrat
*/

@import url(//fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&family=Montserrat+Subrayada&family=Montserrat:wght@200;300&display=swap);

/* Remove default margin + padding */
* {
  margin: 0;
  padding: 0;
}

/* Sections */
h1 {
  text-align: center;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  margin-top: 7vh;
  margin-left: 2.5vw;
}

h2 {
  text-align: center;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  margin-left: 2.5vw;
}

body {
  background-color: whitesmoke;
}

#menu-icon {
  height: 6vh;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 4%;
  color: rgb(211, 211, 211);
}

.sidenav {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.2s;
  /* 0 width - change this with JavaScript */
  width: 0;
  z-index: 4;
}

.sidenavcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* The navigation menu links */
.sidenav a {
  color: black;
  font-weight: 300;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  padding: 4px;
  text-decoration: none;
  transition: 0.2s;
}

.sidenav a:hover {
  font-weight: 100;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Menu */
#desktop-menu {
  font-family: 'Montserrat Subrayada', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  justify-content: space-between;
  width: 80vw;
}

.collapsible-container {
  display: block;
  position: relative;
}

a.menu-button {
  color: black;
  font-size: 2vw;
  text-decoration: none;
}

a.menu-button:hover {
  color: burlywood;
}

.menu-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 30%;
  text-align: justify;
  transition: all 0.2s ease-in;
  top: 100%;
}

.categories {
  font-family: "Montserrat", sans-serif;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0%;
  text-align: justify;
  transition: all 0.2s ease-in;
  top: 100%;
}

.collapsible-container:hover .menu-content {
  display: block;
  height: 300px;
}

.collapsible-container:hover .categories {
  display: block;
  height: 300px;
}


/* small screens */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 3vw;
  }

  #desktop-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
  }

  a.menu-button {
    font-size: 2.75vh;
  }

  .collapsible-container {
    margin-top: 10px;
  }

  .collapsible-container:hover .menu-content {
    display: none;
  }

}